@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    scroll-behavior: smooth !important;
}

body {
    background-color: rgb(33, 36, 40);
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: rgba(33, 36, 40, 0.8705882353);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px rgb(38, 42, 46);
    backdrop-filter: blur(1px) !important;
}

.nav-item::before {
    content: '';
    position: absolute !important;
    width: 90%;
    height: 2.5px;
    border-radius: 4px;
    background-color: rgb(255, 1, 79);
    bottom: 0;
    left: 6%;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-item:hover::before,
.nav-item.active::before {
    transform-origin: left;
    transform: scaleX(1);
}

.nav-link {
    color: rgb(159, 155, 155);
}

.nav-link:hover {
    color: white !important;
}

.p-sidebar-close-icon {
    color: white;
    margin: 20px;
}

.modal-content {
    width: 560px !important;
    background-color: rgba(33, 36, 40, 0.8705882353);
}

.logo {
    width: 70px;
}

.top-main-wrapper {
    margin-top: 80px !important;
}

.hello-txt {
    color: rgb(176, 189, 184);
}

.main-txt {
    font-size: 60px;
}

.name-txt {
    color: rgb(255, 1, 79);
}

.uni-link:hover {
    transition: .4s;
    color: rgb(255, 1, 79) !important;
}

.details-txt h6 {
    color: rgb(176, 189, 184);
    line-height: 23px;
    letter-spacing: .7px;
}

.grey-color-txt, .project-desc small {
    color: rgb(176, 189, 184);
}

.socials li a {
    display: inline-block;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    border-radius: 7px;
    transition: .4s;
    background: linear-gradient(145deg, rgba(30, 32, 36, 0.94), #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px rgb(38, 42, 46);
}

.socials li a:hover {
    transform: translateY(-5px);
    background: linear-gradient(145deg, rgb(30, 32, 36), #212225);
}

.cv-container {
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    border-radius: 7px;
    transition: .4s;
    background: linear-gradient(145deg, rgba(30, 32, 36, 0.94), #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px rgb(38, 42, 46);
}

.cv-container:hover {
    transform: translateY(-5px);
    background: linear-gradient(145deg, rgb(30, 32, 36), #212225);
    cursor: pointer;
}

.technologies-wrapper {
    margin: 145px 0 !important;
}

.techno-image {
    display: inline-block;
    width: 130px;
    height: 120px;
    object-fit: contain;
    border-radius: 7px;
    transition: .4s;
    /*background: linear-gradient(145deg, rgba(30, 32, 36, 0.94), #23272b);*/
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px rgb(38, 42, 46);
    background: linear-gradient(145deg, rgba(40, 42, 46, 0.94), rgba(42, 46, 50, 0.94));
}

.techno-image:hover {
    scale: 1.2;
    border: 1px solid rgb(255, 1, 79);
}

.project-name-link:hover {
    transition: .4s;
    color: rgb(255, 1, 79) !important;
}

.project-card:hover .project-technologies span {
    transition: .4s;
    color: rgb(255, 1, 79) !important;
}

.scrolltop-component {
    width: 60px;
    height: 60px;
    border-radius: 7px;
    transition: .4s;
    background: linear-gradient(145deg, rgba(30, 32, 36, 0.94), #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px rgb(38, 42, 46);
}

.scrolltop-component:hover {
    background: linear-gradient(145deg, rgb(30, 32, 36), #212225);
}

.projects-wrapper {
    margin: 145px 0 !important;
    padding: 0 120px;
}

.project-card {
    transition: .4s ease-in-out !important;
    background: linear-gradient(145deg, rgb(30, 32, 36), #23272b);
    box-shadow: 23px 23px 19px #1c1e22, -23px -23px 19px rgb(38, 42, 46);
    padding: 35px;
}

.project-card:hover {
    background: linear-gradient(145deg, rgb(30, 32, 36), #212225);
}

figure {
    height: 230px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transform: scale(1);
    transition: .3s ease-in-out;
}

figure img {
    transform: scale(1);
    transition: .3s ease-in-out;
}

.project-card:hover img {
    transform: scale(1.1);
}

.project-links a {
    text-decoration: none !important;
}

.github-repo-btn, .web-link-btn {
    font-size: 16px;
    height: 100%;
    text-decoration: none !important;
    background: linear-gradient(145deg, rgb(255, 1, 79), rgb(255, 50, 100));
}

.github-repo-btn:hover, .web-link-btn:hover {
    transition: .3s ease-in-out !important;
    color: rgb(255, 1, 79) !important;
    background: white;
    box-shadow: 2px 2px 10px rgba(220, 0, 70, 0.6), -2px -2px 10px rgba(255, 50, 100, 0.4);
}

.certificates-wrapper {
    margin: 145px 0 !important;
}

.certificate-card {
    width: 410px;
    border-radius: 7px;
    transition: .4s;
    background: linear-gradient(145deg, rgba(30, 32, 36, 0.94), #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px rgb(38, 42, 46);
}

.certificate-card:hover {
    transform: translateY(-7px) !important;
    background: linear-gradient(145deg, rgb(30, 32, 36), #212225) !important;
}

.certificate-card p {
    transition: .4s;
    color: rgb(176, 189, 184);
}

.certificate-card p:hover a {
    transition: .4s;
    color: rgb(255, 1, 79) !important;
}

.right-footer {
    width: 520px;
}

@media (max-width: 1600px) {
    .main-txt {
        font-size: 26px;
    }

    .details-txt h6 {
        font-size: 12.5px;
    }

    .social-medias-wrapper h4 {
        font-size: 15px;
    }

    .socials li a {
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 20px !important;
    }

    .socials li a img {
        width: 20px;
    }

    .view-cv-wrapper h4 {
        font-size: 15px;
    }

    .cv-container {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
}

@media (max-width: 992px) {
    .navbar {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .large-navbar {
        display: none !important;
    }

    .burger-navbar {
        display: block !important;
        cursor: pointer;
    }

    .sidebar-component {
        background: linear-gradient(145deg, rgba(30, 32, 36, 0.94), #23272b);
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px rgb(38, 42, 46);
    }

    .nav-item {
        width: fit-content !important;
    }

    .nav-item::before {
        content: '';
        position: absolute !important;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: rgb(255, 1, 79);
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    .nav-item:hover::before,
    .nav-item.active::before {
        transform-origin: left;
        transform: scaleX(1);
    }

    .top-main-wrapper {
        margin-top: 50px !important;
    }

    .large-screen-project-cards {
        display: none !important;
    }

    .small-screen-project-cards {
        display: block !important;
    }

    figure {
        height: 190px;
    }

    .project-desc small {
        font-size: 12px;
    }

    .project-technologies h5, span {
        font-size: 18px;
    }

    .github-repo-btn, .web-link-btn {
        font-size: 13px;
    }

    .name-txt {
        font-size: inherit;
    }

    .left-footer {
        border: 0 !important;
        padding: 0 !important;
    }

    .right-footer {
        flex-direction: column;
        justify-content: center !important;
    }

    .social-media-component, .view-cv-component {
        display: flex;
        justify-content: center;
    }

    .view-cv-wrapper {
        padding: 0 !important;
    }

    .view-cv-component {
        margin: 3rem 0 0 0 !important;
        padding-left: 30px;
    }
}

@media (max-width: 768px) {
    .social-media-component {
        text-align: center;
    }

    .technologies-wrapper, .certificates-wrapper, .projects-wrapper {
        margin: 60px 0 !important;
    }

    .projects-wrapper {
        padding: 0 15px !important;
    }

    .project-card {
        padding: 23px;
        border-radius: 15px !important;
    }
}

@media (max-width: 476px) {
    .tech-card {
        gap: 10px !important;
    }

    .certificates-wrapper {
        margin-right: 20px !important;
        margin-left: 20px !important;
        font-size: 14px;
    }

    .project-links {
        flex-direction: column;
    }

    .project-links a {
        width: 100% !important;
    }

    .github-repo-btn, .web-link-btn {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}